
/* @keyframes box_ani {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 200px;
    }
} */


/* .box {
  width: 100px;
  height: 100px;
  background-color: salmon;
  animation-name: box_ani;
  animation-duration: 1s;
} */